.home {
    text-align: center;
}

.home__paragraph {
    padding: 0 4rem;
    max-width: 600px;
    height: auto;
    margin: 0 auto;
}

.home__menu-container {
    margin: 10rem auto 0;
    background-color: var(--tertiary-bg-container-color);
    color: var(--tertiary-container-color);
    border-radius: 1rem;
    padding: 1rem 4rem;
    text-align: right;
    position: relative;
    max-width: 600px;
}

.home__cat-icon {
    position: absolute;
    height: 70%;
    right: 70%;
    bottom: 90%;
}

.home__about-container {
    margin: 4rem auto 2rem;
    background-color: var(--secondary-bg-container-color);
    color: var(--secondary-container-color);
    border-radius: 1rem;
    padding: 1rem 4rem;
    text-align: left;
    max-width: 600px;
}

.home__dog-icon {
    height: 12rem;
    margin-left: 50%;
}