.home {
    text-align: center;
}

.home__paragraph {
    padding: 0 4rem;
    max-width: 600px;
    height: auto;
    margin: 0 auto;
}

h2, p {
    margin: 0;
}

.home__menu-container {
    margin: 10rem auto 0;
    background-color: var(--tertiary-bg-container-color);
    color: var(--tertiary-container-color);
    border-radius: 1rem;
    padding: 2rem 4rem;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
    position: relative;
    max-width: 600px;
}

.home__cat-icon {
    position: absolute;
    height: 70%;
    right: 70%;
    bottom: 90%;
}

.home__about-container {
    margin: 4rem auto 2rem;
    background-color: var(--secondary-bg-container-color);
    color: var(--secondary-container-color);
    border-radius: 1rem;
    padding: 2rem 4rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    max-width: 600px;
}

.home__link {
    text-decoration: none;
    background: var(--bg-color);
    color: inherit;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    transition: box-shadow 0.25s;
    display: block;
    width: max-content;
}

.home__link:hover {
    box-shadow: 4px 4px 8px currentColor;
}

.home__dog-icon {
    height: 12rem;
    margin-left: 50%;
}