.menu {
    padding: 1rem 2rem;
    text-align: center;
}

.menu__paragraph {
    padding: 0 4rem;
    max-width: 600px;
    height: auto;
    margin: 0 auto;
}

.menu__item {
    background-color: var(--tertiary-bg-container-color);
    color: var(--tertiary-container-color);
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem 2rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    gap: 4rem;
}


.menu__item-image {
    object-fit: cover;
    aspect-ratio: 1 / 1;
    width: 14rem;
    border-radius: 1rem;
}
.menu__item-desc {
    text-align: left;
}